<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <title>HOLYxJEDHA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <div class="row">

      <div class="left input">
          <h1>Please enter the text you want to analyze</h1>
      
          <!--  Input For the text and input our functions -->
          <form action="{{ url_for('result_live')}}"method="post">

              <p>Please enter your text here</p>
              <textarea name="input_text" placeholder="Please enter your text to analyze" rows = "10" col="120" required="required"></textarea>

              <div data-role="fieldcontain">
                <fieldset data-role="controlgroup" data-type="horizontal">
                  <legend>How many keywords do you want in your keyphrases:</legend>
                        <input type="radio" id=1 name="l_keywords"  required="required" value=1 checked="checked"/>
                        <label class="form-check-label" for=1>1</label>
                        
                        <input type="radio" id=2 name="l_keywords"  required="required" value=2/>
                        <label class="form-check-label" for=2>2</label>

                        <input type="radio" id=3 name="l_keywords"  required="required" value=3/>
                        <label class="form-check-label" for=3>3</label>
                </fieldset>
              </div>

              <div data-role="fieldcontain">
                <fieldset data-role="controlgroup" data-type="horizontal">
                  <legend>How many keyphrases do you want:</legend>
                        <input type="radio" id=1 name="n_keywords"  required="required" value=3 checked="checked"/>
                        <label for=1>3</label>
                        
                        <input type="radio" id=2 name="n_keywords"  required="required" value=4/>
                        <label for=2>4</label>

                        <input type="radio" id=3 name="n_keywords"  required="required" value=5/>
                        <label for=3>5</label>
                </fieldset>
              </div>
            <br>
            <button type="submit" class="btn">Analyze</button>
          </form>
      </div>
      
      <div class="right output">
        {{ keywords_text }}
      </div>
      
      
  </div>
</body>
</html>