<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Jedha x Holy.io home page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="indexpage">

    <a href="/live_app">
        <button class="index_btn live">Go to the Jedha x Holi.io live text analyzer</button>
    </a>

    <a href="/api_doc">
        <button class="index_btn api">Read our API Documentation</button>
    </a>

    <a href="/model#topic=1&lambda=0&term=">
        <button class="index_btn model">Inspect your model</button>
    </a>

</body>
